<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="images/ih-logo.svg" type="image/x-icon" />
    <link rel="stylesheet" href="style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />

    <title>html-notes</title>
  </head>
  <body>
    <!-- ======== header starts ======== -->
    <header>
      <div class="container">
        <nav>
          <ul>
            <li><a href="css.html">css</a></li>
            <li><a href="js.html">JS</a></li>
            <li><a href="platforms.html">platforms</a></li>
            <li><a href="building-the-web.html">building the web</a></li>
            <li><a href="upwork.html">building the web</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- ======== header ends ======== -->

    <!-- ======== HTML tips starts ======== -->
    <article>
      <h2 class="main-heading">HTML</h2>
      <div class="container">
        <!-- tips & tricks starts -->
        <section>
          <h3 class="main-heading">tips & tricks</h3>
          <ul>
            <li>
              <p>
                to make <span class="second-col">download link</span> you add
                <span class="code-btn">download</span> attribute to it and in
                the <span class="code-b">href</span> you put the path of the
                file to be downloaded/p>
              </p>

              <p>
                you can change the name of the downlaoded file by typing
                <span class="code-b">download='the_new_name'</span>
              </p>
              <p class="bg-second-color">
                note: in the tutorial the guy said you can change even change
                the type of the the file by adding the new type after the new
                name but it didn't work with me it was downloaded in the same
                type.
              </p>
            </li>

            <li>
              <p>
                to make an element <span class="second-color">editable</span> by
                users add the
                <span class="code-btn">contenteditable</span> attribute to the
                element
              </p>
            </li>

            <li>
              to make google (or other password managers) offer to
              <span class="second-color">save password</span> add the
              <span class="code-btn">autocomplete</span> attribute with value
              of:
              <ul>
                <li>
                  <span class="code-b">current-passowrd</span>: to save the the
                  password
                </li>
                <li>
                  <span class="code-b">new-passowrd</span>: to make browser
                  offer passowrds for singing-up users
                </li>
              </ul>
            </li>
          </ul>
        </section>
        <!-- tips & tricks ends -->

        <!-- button vs link starts -->
        <section class="button-vs-link">
          <div class="container">
            <h2 class="main-heading">button vs link</h2>
            <p>
              according to
              <a
                href="https://medium.com/@h_locke/links-vs-buttons-e8b523660fb3"
              >
                medium
              </a>
            </p>
            <p class="bg-second-color">
              a button says that you are going to change the state of the
              website (either front or back end), whereas a link is going to
              take you somewhere else (and doesn't change the state of the
              website)
            </p>
            <p>
              they also said that you shouldn't style a link to like like a
              button or the other way around. And you can notice this phenomenon
              (styling call to aciton links like buttons) in marketing websites
              like playstation (so I decided to style call to actions like
              buttons as this is what the user familiar with)
            </p>
          </div>
        </section>
        <!-- button vs link ends -->

        <!-- images starts -->
        <section>
          <div class="container">
            <h3 class="main-heading">images width and height attributes</h3>

            <section>
              <h3>why to add them</h3>
              <p>
                If you don't set the width and height attributes the browser
                will wait unitl the image is loaded to calculate the dimentions
                of the image and then make a space for it and
                <b>it's bad for two reasons: </b>
              </p>
              <ul>
                <li>
                  layout shift: the text being suddenly pushed down when the
                  image is loaded which is really annoying
                </li>
                <li>
                  increasing the loading time and decreasing the performance of
                  the page as the browser has to calculate the dimentions itself
                </li>
              </ul>
            </section>

            <section>
              <h3>what happens when you add them ?</h3>
              <p>
                the browser takes the width and the height and put them in an
                <b>aspect-ratio</b> in the user agent so it makes a space for
                the image without the need of waiting it to download.
              </p>
              <p>
                <b>note:</b> when you set when dimention with css (width or
                height) you should make sure you set the other dimention (height
                or width) to <span class="code-btn">auto</span>.Otherwise the
                value will still be taken the attriubte you specified before.
                <b>when you set the other dimention to auto: </b> the browser
                calculates it based on the aspect ratio it has (from the width
                and the height attributes) without the need of waiting the image
                to download
              </p>
            </section>

            <section>
              <div class="container">
                <div class="h3">downsides</div>
                <ul>
                  <li>
                    the implementation of the browser detecting the aspect-ratio
                    based on the width and the height attriubtes is still new
                    (around 2020). <br />
                    the aspect-ratio css proprety for images itself is still new
                  </li>
                  <li>
                    for responsive images like the code below
                    <img src="images/responsive-img-codesnippt.png" alt="" />
                    you can only set width and height attribute to the main
                    image and you can't set them to the images in srcset. <br />
                    the best solution so far is to make sure that all of them
                    have the same aspect-ratio
                  </li>
                  <li>
                    it doesn't work width <b>art direction</b> read about it if
                    you want I want brief it here as it's not relavent to me at
                    this time
                  </li>
                  <li>
                    <b>ads: </b>
                    During the ad lifecycle, many points can introduce layout
                    shift:
                    <ul>
                      <li>When a site inserts the ad container in the DOM</li>
                      <li>
                        When a site resizes the ad container with first-party
                        code
                      </li>
                      <li>
                        When the ad tag library loads (and resizes the ad
                        container)
                      </li>
                      <li>
                        When the ad fills a container (and resizes if the final
                        ad has a different size)
                      </li>
                    </ul>
                    and the best solution introduced by web.dev is to
                    pre-reserve a space to the ad by setting dimetinos for an ad
                    container
                    <b
                      >and make sure it is in the page wheather the ad is loaded
                      or not to avoid layout shift when the ad fails to load</b
                    >. <br />
                    This solution can have some downsides like the ad being
                    smaller than the container you made which leades to blank
                    spaces.
                  </li>
                </ul>
              </div>
            </section>

            <section class="bg-second-color">
              <p>
                <b>conclusion: </b> set width and height for img and video
                elements as it increases performance and make sure when you
                change one dimention by css you set the other one to auto to
                allow it to be calculated by the browser and to avoid stretched
                or squished images.
              </p>
            </section>
          </div>
        </section>
        <!-- images ends -->

        <!-- select vs datalist -->
        <section>
          <div class="container">
            <h3 class="main-heading">select vs datalist</h3>
            <p>
              according to <a href="">geeks for geeks</a>
              <i>
                "Generally, both the tags are used for choosing an option from
                the given list. But the main difference between both is that in
                the &lt;datalist&gt; tag the user can enter its own input and
                add that as an option with the help of the &lt;input&gt; element
                whereas the &lt;select&gt; tag doesn't provide this feature"
              </i>
            </p>
          </div>
        </section>
      </div>
    </article>
    <!-- ======== HTML TIPS ENDS ======== -->

    <!-- ======== Accessability STARTS ======== -->
    <article class="access">
      <div class="container">
        <h2 class="main-heading">accessability</h2>
        <section>
          <p>
            when putting more than one navigation in the site you should label
            them using <span class="code-btn">aria-labelledby</span> attribute
            to descripe the purpose of each one.
          </p>
        </section>
      </div>
    </article>
    <!-- ======== Accessability ENDS ======== -->

    <!-- ======== SEO STARTS ======== -->
    <article>
      <div class="container">
        <h2 class="main-heading">SEO</h2>
        <p>
          use key words in your heading as google gathers the context of your
          page from headings.
        </p>
        <div class="bg-second-color">
          <p>around 30% to 75% of your headings should contain the keyword.</p>
          <p>but you use them wisely don't just stuff'em in there</p>
        </div>
        <p>Google can even make it's own list out of your headings</p>
        <div class="img-container">
          <img src="images/google-list-headings.png" alt="" />
          <img src="images/google-list-headings-website.png" alt="" />
        </div>
      </div>
    </article>
    <!-- ======== SEO ENDS ======== -->

    <!-- ======== interview STARTS ======== -->
    <article>
      <div class="container">
        <h2 class="main-heading">interview</h2>
        <section>
          <h3>What are void elements in HTML?</h3>
          <p>
            HTML elements which do not have closing tags or do not need to be
            closed are Void elements. For Example &lt;br /&gt;, &lt;img /&gt;,
            &lt;hr /&gt;
          </p>
        </section>
        <section>
          <h3>What is the advantage of collapsing white space?</h3>
          <p>
            In HTML, a blank sequence of whitespace characters is treated as a
            single space character, Because the browser collapses multiple
            spaces into a single space character and this helps a developer to
            indent lines of text without worrying about multiple spaces and
            maintain readability and understandability of HTML codes
          </p>
        </section>
        <section>
          <h3>What are HTML Entities?</h3>
          <p>
            In HTML some characters are reserved like &lt;, &gt; , '/', etc. To
            use these characters in our webpage we need to use the character
            entities called HTML Entities. Below are a few mapping between the
            reserved character and its respective entity character to be used.
          </p>
          <img src="images/entities.png" alt="" />
        </section>
        <section>
          <h3></h3>
          <p></p>
        </section>
      </div>
    </article>
    <!-- ======== interview ENDS ======== -->

    <!-- ======== pugjs starts ======== -->
    <article class="pugjs">
      <div class="container">
        <h2>pug.js</h2>
        <section>
          <h3>install</h3>
          <p class="cb">npm install pug</p>
          <p class="cb">npm install pug-cli -g</p>
          <p class="bg-second-color">
            as far as I know the flag <span class="cb">-g</span> installs the
            packages globally which I didn't want so I didn't put it at first
            put whenever I tried to type some pug code in the powershell like
            <span class="cb">pug --hlep</span> it didn't recognize pug so I
            tried adding the <span class="cb">-g</span> flag and it worked
          </p>
          <p class="bg-second-color">
            after that I ran into an error saying "pug: {the path of my file}
            ps1 cannot be loaded because running scripts is disabled on this
            system", and after some seartch I found the answer on
            <a
              href="https://stackoverflow.com/questions/41117421/ps1-cannot-be-loaded-because-running-scripts-is-disabled-on-this-system"
            >
              stack overflow
            </a>
            which was putting this code
            <span class="cb">
              Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy
              Unrestricted
            </span>
            in the powershell
          </p>
        </section>

        <section>
          <h3>watch</h3>
          <p class="cb">
            pug the path of the folder of the index.pug -w -o the path of the
            folder you want pug to output the index.html in --pretty
          </p>
          <p>
            notice that you don't have to type
            <span class="cb">--pretty</span> put it will not format the html
            code for you
          </p>
          <p>
            also if you don't type
            <span class="cb">
              -o the path of the folder you want pug to output the index.html in
            </span>
            it will simply output the html in the same place of the index.pg
          </p>
          <p class="bg-second-color">
            when I was trying to type the watch code for the first time I
            accidentally added the path of the folder which contains the folder
            of the index.pug (one level up of the right folder) it gave me an
            error so make sure you provide the right path
          </p>
        </section>

        <section id="emmet-with-pug">
          <h3>emmet with pug</h3>
          <p>
            I realized that emmet is built-in VS code no need for extension put
            it didn't work with pug so you have to go to
            <span class="cb">settings.json</span>
          </p>
          <h3>how to open settings.json</h3>
          <p>
            honstely I don't know a direct way but I searched in the settings
            for emmet and there was this section offering to open settings.json
          </p>
          <img src="images/vscode-settingsjson.png" alt="" />
          <p>
            I searched for "emmet.includeLanguages" and added the following line
          </p>
          <img src="images/adding-pug-to-emmet.png" alt="" />
          <p class="bg-second-color">
            despite that vscode say that emmet support pug on their
            <a href="https://code.visualstudio.com/docs/editor/emmet">
              emmet docs
            </a>
            but it didn't work before I added myself
          </p>
          <p class="bg-second-color">
            also they say you can identify pug as pug or jade but it didn't work
            so I tried jade and it worked
          </p>
          <p class="bg-second-color">
            in adding new language to emmet the left side is the extenstion of
            the file like .pug, .html, etc... and the right side is the language
            so lets say you have a language emmet doesn't know like
            <span class="cb">.razor</span> but it's actually html you type
            "razor": "html"
          </p>
          <p>
            you could also add language to emmet from the settings interface
          </p>
          <img src="emmet-add-language-interface.png" alt="" />
        </section>

        <section>
          <h3>decimal point in a class error</h3>
          <p>
            appearantly pugjs has problem with the decimal point in some of
            tailwind css classes
          </p>
          <img src="images/pug-decimal-point.png" alt="" />
          <p>
            a quick solution a came up with is using the
            <span class="cb">(class='')</span> syntax to add the classes with
            decimal point
          </p>
        </section>
      </div>
    </article>
    <!-- ======== pugjs  ENDS ======== -->

    <!-- ======== pugjs course starts ======== -->
    <article class="pugjs-course">
      <div class="container">
        <h2 class="main-heading">pug course</h2>
        <p>
          presented by
          <a
            href="https://www.youtube.com/playlist?list=PLz_6dB4PItBEYHIDnXPUI81pTQ_71eEqS"
            >Richard Stibbard Web Development Tutorials</a
          >
        </p>
        <p class="bg-second-color">
          note that the lesson numbers are less than the youtube video number by
          one so lesson-2 is video number 3
        </p>
        <!-- lesson 2 -->
        <section>
          <h3>lesson-2: multiline content</h3>
          <pre class="cb">h1<br>  |  this   <br>  |  is multiline</pre>
          <pre class="cb">h1.<br>  this   <br>  is multiline</pre>
        </section>
        <!-- lesson 3 -->
        <section>
          <h3>lesson-3: assignment</h3>
          <p class="bg-second-color">
            the instructor mentioned that there is an extention for vs code that
            converts html files into pug
          </p>
        </section>

        <!-- lesson 4 -->
        <section>
          <h3>lesson-4: go through assignments</h3>
          <p>no notes needed</p>
        </section>

        <!-- lesson 5 -->
        <section>
          <h3>Lesson-5: Emmet in Pug</h3>
          <p>
            just introduction to emmet if you want to know how to make emmet
            work with pug see <a href="#emmet-with-pug">emmet with pug</a>
          </p>
        </section>

        <!-- lesson 6 -->
        <section>
          <h3>lesson-6: includes</h3>
          <p>
            includes can be useful with the components that are repeated in
            every page of the website like the navbar and footer
          </p>
          <p>to include a navbar in your page:</p>
          <ol>
            <li>
              make a pug file (navbar.pug) and put the structure you want in it
            </li>
            <li>
              in the place you want to deploy the navbar at type
              <span class="cb">include</span> followed by space then the
              relative path of your navbar pug file
              <img src="images/pug-includes.png" alt="" />
              <p class="bg-second-color">
                notice that you don't need to type
                <span class="cb">.pug</span> incase of including pug files
              </p>
            </li>
          </ol>
        </section>

        <!-- lesson 7 -->
        <section class="pug-extend">
          <h3>Lesson 7 - Extends and blocks</h3>
          <p>
            while <span class="cb">include</span> is used with the static
            content that is repeated <span class="cb">extend</span> is used for
            dynamic repeated content like:
          </p>
          <p>every html page of your website have the same structure</p>
          <ol>
            <li>head with the same links and google fonts</li>
            <li>
              body with header, main(and that one is different in every page),
              and footer
            </li>
          </ol>
          <p>
            so instead of coping and pasting all that structure among the pages
            only to change the main section of every page you can store the
            structure in a pug file, <span class="cb">extend</span> it, and
            override the main section
          </p>
          <p>steps:</p>
          <ol>
            <li>make a pug file (structure.pug)</li>
            <li>
              for the basic stuff like the links in the html starter code (the
              meta tags, etc...) and the links we paste it as is
              <img src="images/pug-extend-head.png" alt="" />
            </li>
            <li>
              as for the main three parts we mentioned in the example above (the
              navbar or header, the main, and the footer) we use
              <span class="cb">block</span> before each one to let pug konw that
              they're modifiable
              <img src="images/pug-extend-body.png" alt="" />
              <p class="bg-second-color">
                notice that the paths in the layout pug file are relative to it
                not to the file it will be extended in
              </p>
              <p class="bg-second-color">
                also notice that the names after the
                <span class="cb">block</span> keyword are not necessarily the
                html element names (the element names are below the block
                statement line)
              </p>
            </li>
            <li>
              now you can go to any page of your website and delete every thing
              in it and have only <span class="cb">extened</span> followed by
              space then the path of the layout pug file
              <img src="images/pug-extend.png" alt="" />
            </li>
            <li>
              now to override the default layout we've created to add the
              content of the page in the main section we type
              <span class="cb">block</span> followed by space then the name we
              specified to the main (which was main too), hit enter, hit tab,
              then put the content you want
              <img src="images/pug-extend-override.png" alt="" />
            </li>
          </ol>
          <p class="bg-second-color">
            notice that according to the instructor of the course "you can only
            have one extend line the page because it provides the structure of
            page and each page can have only one structure"
          </p>
          <p class="bg-second-color">
            also notice that the extend line must be the first line of the file
          </p>
        </section>

        <section>
          <h3>Assignment - Create other pages</h3>
          <p>no notes needed</p>
        </section>

        <!-- lesson 8 -->
        <section>
          <h3>Lesson-8: JavaScript in Pug: Variables</h3>
          <p>to declair a variable:</p>
          <p>
            type dash (-) followed by space then let or const, the variable name
            <span class="cb">- let myFirstVar = 'hola'</span>
          </p>
          <p>how to use the variable in pug:</p>
          <ul>
            <li>
              using <span class="cb">#{the variable}</span> like p #{myFirstVar}
              which yields in => &lt;p&gt;hola&lt;p&gt;
            </li>
            <li>
              using the (=) sign immediately after html element then the
              variable name <span class="cb">p= myFirstVar</span> which yeilds
              in => &lt;p&gt;hola&lt;p&gt;
              <p class="bg-second-color">
                notice that it's a must not to have any spaces between the html
                element and the equal sign for the code to run as wanted
              </p>
            </li>
            <li>
              you can use variables in template literatures just like in
              javascript
              <span class="cb">p= `my first variable is ${myFirstVar}`</span>
            </li>
          </ul>
        </section>

        <!-- lesson 9 -->
        <section>
          <h3>Lesson-9: JavaScript: Arrays, Objects and Iteration</h3>
          <div>
            <p>
              if you try to add an array with each element on a separate line
              like:
            </p>
            <pre class="cb">
  - const names = [
              'mohamed',
              'ali',
              'john',
              ]
            </pre>
            <p>
              you will get an error to solve the problem you need to make the
              const statment in the next line of the dash with one level in
            </p>
            <pre class="cb">
              -
                const names = [
                'mohamed',
                'ali',
                'john',
                ]
            </pre>
            <p class="bg-second-color">same goes with objects</p>
          </div>
          <div>
            <p>
              you can use <span class="cb">each</span> keyword to iterate over
              an array
            </p>
            <img src="images/pug-each.png" alt="" />
          </div>
          <div>
            <p class="bg-second-color">
              you can use <span class="cb">else</span> with the
              <span class="cb">each</span> statement in pug, here is how:
            </p>
            <p>
              after typing the code you want inside the each level on a new line
              at the <span class="cb">each level</span> type
              <span class="cb">else</span>, hit enter, tab then the code you
              want
            </p>
            <img src="images/pug-each-else.png" alt="" />
            <p>
              and the <span class="cb">else</span> statement will be used in
              case of an empty array
            </p>
          </div>
        </section>

        <!-- lesson 10 -->
        <section>
          <h3>Lesson 10 - Mixins</h3>
          <p>
            a mixin is like a function in js (instead it probably only returns
            values and doesn't excute any code):
          </p>
          <img src="images/pug-mixin.png" alt="" />
          <p>
            to use a mixin inside the page type the plus sign followed by the
            mixin <span class="cb">+friendCard(friend)</span>
          </p>
          <img src="images/pug-calling-mixin.png" alt="" />
        </section>

        <!-- lesson 11 (1) -->
        <section>
          <h3>Lesson 11 (1) - Go through final project: Static Pug file</h3>
          <p>
            he added the static code of the page and used the
            <a href="https://validator.w3.org/">w3 validator</a> to make sure
            there were no errors in the nesting or any other errors in the html
            code
          </p>
        </section>

        <!-- lesson 11 (2) -->
        <section>
          <h3>
            Lesson 11 (2) - Go through final project: Includes, Extends, Blocks
          </h3>
          <p>no notes needed</p>
        </section>

        <!-- lesson 11 (3) -->
        <section>
          <h3>
            Lesson 11 (3) - Go through final project: Mixins, Data, Iteration
            and Tidy Up
          </h3>
          <p>
            in case you want to use a variable for the page title that is inside
            the head tag you can use the <span class="cb">include</span> the
            first thing in the code without affecting the page
          </p>
          <img src="imaegs/pug-include-first.png" alt="" />
          <p class="bg-second-color">
            when the instructor wanted to include the mixin pug file he included
            it in the layout pug file (we talked about it in the
            <a href="#pug-extend">extend lesson</a>) not in the page
          </p>
        </section>

        <!-- lesson 12 -->
        <section>
          <h3>Add-on Lesson - PHP in Pug</h3>
          <ol>
            <li>
              <p>
                the example he used in the lesson was a form that sends its data
                using the <span class="cb">post</span> method to thank-you.php
                page
              </p>
              <img src="images/pug-form.png" alt="" />
            </li>
            <li>
              <p>
                then he created a thank-you.pug page and added the php code in
                it
              </p>
              <img src="images/pug-php.png" alt="" />
              <p class="bg-second-color">
                notice he add a dot after the div with class thank you to be
                able to write multi line code. Review multi line code in lesson
                2
              </p>
            </li>
            <li>
              he wanted to complie the thank-you.pug into php so he used
              <span class="cb">pug -w thank-you.pug -o ./ -P -E php</span>
              <p class="bg-second-color">
                notice to sepcify the format (extenstion) of the output file in
                pug you use dash capital e <span class="cb">-E</span> followed
                by the format without dot
              </p>
            </li>
          </ol>
        </section>

        <!--  -->
        <section>
          <h3>Add-on Lesson 2 - Automated Pug file compilation with Gulp</h3>
          <p>
            the instructor illustrated that not all the time we will be watching
            only one pug file and in case of multiple file we will need to stop
            the watch on one file then switch to the other and this of course a
            tedious process so for that task we use gulp with pug
          </p>
          <p>
            I didn't feel like watching steps I don't understand a thing of so I
            didn't continue watching the video but maybe I come back later after
            I study gulp
          </p>
        </section>
      </div>
    </article>
    <!-- ======== pugjs course  ENDS ======== -->

    <!-- ======== pugjs course  ENDS ======== -->
    <article class="e-mail">
      <div class="container">
        <h2 class="main-heading">email Development</h2>
        <!-- accessability -->
        <section>
          <h3>accessability</h3>
          <p>
            according to
            <a href="https://docs.thememountain.com/acorn/accessibility/"
              >acron</a
            >
            framework
            <i>
              "Tables were meant for displaying tabular data, not for defining
              the structure of a design. Unfortunately, they are (still) a
              requirement for coding HTML email layouts, and this misuse can be
              a real issue for people using screen readers to read your emails."
            </i>
          </p>
          <p>
            <i>
              "The solution is to use the
              <span class="cb">role="presentation"</span> attribute on all your
              tables that are used for design purposes, as it makes it easier
              for screen readers to read your content."
            </i>
          </p>
        </section>

        <!-- acorn framework -->
        <section>
          <h3>acorn framework</h3>
          <div>
            <h4>acorn google fonts</h4>
            <p>
              according to their
              <a href="https://docs.thememountain.com/acorn/typography/"
                >typography docs</a
              >
              <i>
                In order to avoid Outlook's TNR bug ↗ and still keep our code
                short and clean, we import the web fonts in an
                <span class="cb">@media</span> query, and apply them after the
                native font stack reset. All clients that support web fonts also
                support media queries, but Outlook will just ignore it.
              </i>
            </p>
          </div>
        </section>

        <!-- hacks -->
        <section>
          <h3>hacks</h3>

          <!-- fix wrong text color -->
          <div>
            <h4>wrong text color</h4>
            <p>
              in
              <a href="https://youtu.be/Ja0kNxFS3m4?si=y59ONGJIfsjfY7gh"
                >this video</a
              >
              she finds out the header and the footer text are in black instead
              of the color specified in the code which is white while she was
              testing how email looks like using a website called
              <span class="cb">email on acid</span>
            </p>
            <p>
              in the code the colors are set to
              <span class="cb">.header</span>&<span class="cb">.footer</span>
              classes so she says that some times they get stripped out
            </p>
            <p>
              <span class="second-color">the solution</span> she did was she
              made a <span class="cb">.white</span> class only for
              <span class="cb">color:white</span> and added it for every element
              she wants its text to be white and the problem was solved
            </p>
          </div>

          <!-- get rid of dashes between links icon images -->
          <div>
            <h4>dashes between link icon images</h4>
            <p>
              I used social media images nested in links for social media list
            </p>
            <img src="images/email-links-underline.png" alt="" />
            <p>
              but because of the links underline there is this weird dashes
              beteween the images so one reset that solves this problem is to go
              to the containing <span class="cb">td</span> and give it style of
              <span class="cb">font-size:0</span>
            </p>
            <p class="bg-second-color">
              note that doesn't set the text decoration to none or something
              like that, that acutally gets rid of the extra space added by
              browser and email clients which in turn doesn't leave a space for
              the underlines to show up
            </p>
          </div>
        </section>

        <!-- HTML Email Template Built the RIGHT WAY tutorial -->
        <section>
          <h3>HTML Email Template Built the RIGHT WAY</h3>
          <div>
            <p>when the instructor was making this two columns</p>
            <img src="images/sailchimp-two-columns.png" alt="" />
            <p>he simply gave each column the following css</p>
            <pre class="cb">
              width: 100%;
              max-width: 300px;
              display: inline-block;
              vertical-align: top;
            </pre>
            <p>which made it look like that</p>
            <img src="images/sailchimp-two-columns-valign-top.png" alt="" />
            <p>
              then he manually added the padding to the containing
              <span class="cb">td</span> of the social media icons
              <span class="cb">padding: 12px 0 12px 62px;</span>
              to make it look like it's centered he didn't use flex nor grid to
              align them, and I'm not sure if he could use
              <span class="cb">vertical-align:middle;</span>
            </p>
            <p>
              well I used <span class="cb">vertical-align:middle;</span> and it
              worked just fine but I'm not sure if it's right to use so I'm
              sticking with the tutorial for now
            </p>
          </div>
        </section>
      </div>
    </article>
    <!-- ======== pugjs course  ENDS ======== -->

    <!-- ======== twig starts ======== -->
    <article class="twig">
      <div class="container">
        <h2 class="main-heading">twig</h2>
        <p>
          <a href="https://twig.symfony.com/doc/3.x/">documentation</a> in here
        </p>
        <section>
          <h3>installation</h3>
          <p>
            first you need to download php you can see that
            <a href="https://www.youtube.com/watch?v=n04w2SzGr_U">tutorial</a>
          </p>
          <ul>
            <li>
              go to <a href="https://www.php.net/downloads.php">download php</a>
              <img src="images/download-php-1.png" alt="" />
            </li>
            <li>
              <img src="images/download-php-2.png" alt="" />
            </li>
            <li>unzip the file in a folder</li>
            <li>
              name the folder with php- followed by the version something like
              <span class="cb">php-8.3.8</span>
            </li>
            <li>copy the folder and paste it into local disk (c:)</li>
            <li>enter the folder in the c and copy the file path</li>
            <li>
              in the search bar search "edit enviornment variables for your
              account"
            </li>
            <li>
              you can either change the variables for the current user or for
              the whole system
              <img src="images/change-environment-variables.png" alt="" />
            </li>
            <li>
              whatever path you choos click on <span class="cb">path</span> then
              <span class="cb">edit</span>
            </li>
            <li>click new then paste the folder path you copied</li>
            <li>
              to check if php is installed open cmd and insert
              <span class="cb">php --version</span>
              <p class="second-color">
                if it says "php" is not defined try restarting or try changing
                the system path instead of the user path in case you did it for
                the user
              </p>
            </li>
            <li>
              then you have to download
              <a href="https://getcomposer.org/">composer</a> which is A
              Dependency Manager for PHP (my best guess its like npm for node)
              <p>
                to check that it's installed open a new cmd after you install it
                (note that you have to open new cmd even if you already have one
                opened) then run <span class="cb">composer</span>
              </p>
            </li>
            <li>
              finally you open your project folder and run
              <span class="cb">composer require twig/twig</span> in the
              <a href="https://twig.symfony.com/doc/3.x/intro.html">docs</a>
              they instruct to run
              <span class="cb">composer require "twig/twig:^3.0" </span> but it
              gave me error that it required php-7. some 7th version and mine
              was php-8.3.8 and that doesn't satisfy it's requirement so I
              followed that
              <a href="https://www.youtube.com/watch?v=SVb0whlghQY">tutroial</a>
            </li>
          </ul>
        </section>

        <section>
          <h3>creating first page</h3>
          <p>
            follwoing this
            <a href="https://www.youtube.com/watch?v=lLweQpE59oU">tutorial</a>
          </p>
          <ul>
            <li>
              <p>
                inside the project folder where you installed twig create a
                folder named views which will contain our templates
              </p>
              <p>
                inside the project folder you should see folder named vendor,
                composer.json, and composer.lock
              </p>
            </li>
            <li>
              inside the project folder also create
              <span class="cb">index.php</span>
            </li>
          </ul>
          now we start the boilerplate for index.php
          <ul>
            <li>
              inside the inedx.php the first thing you want to do is to include
              <span class="cb">autoload.php</span> which will be in the vendor
              folder
              <span class="cb">require 'vendor/autoload.php';</span>
            </li>
            <li>
              then create twig instance
              <span class="cb">$twig= new Twig_Environment($loader)</span> as
              you can see it takes a loader as a paramater you don't have to
              call it loader it's just best practice
            </li>
            <li>
              <p>
                then let's create the loader (declare it before $twig):
                <span class="cb">
                  $loader = new Twig_Loader_Filesystem('views')
                </span>
              </p>
              <p>
                the instructor mentioned that there're about 4 loaders by
                default and that you can also make your own
              </p>
            </li>
            <li>
              now to start rendering a view we go under $twig
              <pre class="cb">
                $twig->render('hello.html', array(
                  'name' => 'Michael',
                  'age' => '52'
                ));
              </pre>
              the array in the second paramter is the data we want to pass to
              the view
            </li>
            <li>
              now go ahead and create the hello.html you passed to the render
              function and you create it inside the
              <span class="cb">views</span> folder
            </li>
          </ul>
        </section>

        <section>
          <h3>
            docs for
            <a href="https://twig.symfony.com/doc/3.x/templates.html">
              twig for template designers
            </a>
          </h3>
          <section>
            <h4 class="yellow">tips and tricks</h4>
            <ul>
              <li>
                Using double-quoted or single-quoted strings has no impact on
                performance but string interpolation is only supported in
                double-quoted strings.
              </li>

              <li>Operators (and, or, not) are case sensitive.</li>

              <li>
                <p>you can iterate over objects using:</p>
                <pre class="cb">
                  {% set sizes = {
                        xs: 34,
                        s:  36,
                        m:  38,
                        l:  40,
                        xl: 42,
                    } %}

                    {% for k, v in sizes|filter(v => v > 38) -%}
                        {{ k }} = {{ v }}
                    {% endfor %}
                    {# output l = 40 xl = 42 #}
                </pre>
                this example is from the
                <a href="https://twig.symfony.com/doc/3.x/filters/filter.html">
                  fliter docs
                </a>
              </li>

              <li>
                <h3>number to string/text</h3>
                <pre class="cb">
                  {# twelve point three four five #}
                  {{ '12.345'|format_number(style='spellout') }}
                </pre>
              </li>

              <li>
                <p>
                  you can add a second paramter to the
                  <span class="cb">join()</span> filter that will be used to
                  seperate between the last two items
                </p>
                <pre class="cb">
                  {{ [1, 2, 3]|join(', ', ' and ') }}
                  {# outputs 1, 2 and 3 #}
                </pre>
              </li>

              <li>
                <p>
                  If you want to ensure that some values are defined in a
                  mapping (by given default values), reverse the two elements in
                  the call:
                </p>
                <pre class="cb">
                {% set items = {'apple': 'fruit', 'orange': 'fruit'} %}

                {% set items = {'apple': 'unknown'}|merge(items) %}

                {# items now contains {'apple': 'fruit', 'orange': 'fruit'} #}
              </pre
                >
              </li>
            </ul>
          </section>

          <section>
            <h4 class="yellow">variables</h4>
            <ul class="big-items">
              <li>
                <h4>code execution</h4>
                <p>there are two types of brackets to execute code:</p>
                <ul>
                  <li>
                    <span class="cb">{% .... %}</span>: used to execute
                    statements such as for-loops and if statements
                  </li>
                  <li>
                    <span class="cb">{{ .... }}</span>: used to output the
                    result of an expression or display a variable's value.
                  </li>
                </ul>
                <p>
                  the second set of {} are the print statement so it's like
                  typing js inside of ` ` you first open {} to let the editor
                  know there's a code to be compiled/evaluated then you either
                  open % % or {} depeneding on what're about to do
                </p>
                <img src="images/twig-brackets.png" alt="" />
              </li>
              <li>
                you can display a proberty of an object
                <span class="cb">{{ car.color }}</span> or you can use
                <span class="cb">{{ car['color'] }}</span>
              </li>
              <li>
                <h4>dynamic attributes (properties)</h4>
                <p>
                  you can use
                  <span class="cb">
                    {{ attribute(yourObj, yourDynamicAttribute) }}
                  </span>
                </p>
                <p>
                  it's also used to access attributes with special characters
                  like
                  <span class="cb">
                    {{ attribute(yourObj, 'your-special-attribute') }}
                  </span>
                </p>
              </li>
            </ul>
          </section>

          <section>
            <h4 class="yellow">Global Variables</h4>
            <ul>
              <li>
                <span class="cb">_self:</span> references the current template
                name
              </li>
              <li>
                <span class="cb">_context:</span> references the current context
              </li>
              <li>
                <span class="cb">_charset:</span> references the current charset
              </li>
            </ul>
          </section>

          <section>
            <h4 class="yellow">setting variables</h4>
            <p class="cb">{% set foo = 'foo' %}</p>
            <p class="cb">{% set foo = [1, 2] %}</p>
            <p class="cb">{% set foo = {'foo': 'bar'} %}</p>
          </section>

          <section>
            <h4 class="yellow">filters</h4>
            <div>
              <h5 class="yellow">batch</h5>
              <p>
                let's say you have a long array of products and you want to put
                them in the home page in a form of rows with every row
                containing 3 items
              </p>
              <img src="images/twig-filter-batch.png" alt="" />
              <p>full code in the <a href="">docs</a> and the image below</p>
              <img src="images/twig-filter-batch-example.png" alt="" />
              <p>
                so in case of the code that is writtin in the painted figure
                (the first image) it will return 2 rows with one containing 3
                items and the other containing only 2
              </p>
              <p>
                but in case of the code in the above image when you add a second
                paramater it fills the empty items with that paramater
              </p>
              <p class="bg-second-color">
                note that there's also a third paramater but you better check it
                from the docs
              </p>
            </div>
            <div>
              <h5 class="yellow">column</h5>
              <p>
                iterates through array of objects returning the value of the
                entered key
              </p>
              <pre class="cb">
                {% set items = [{ 'fruit' : 'apple'}, {'fruit' : 'orange' }] %}

                {% set fruits = items|column('fruit') %}

                {# fruits now contains ['apple', 'orange'] #}
              </pre>
            </div>
          </section>

          <section>
            <h4>escaping (skipping/disable) automatic scape</h4>
            <pre class="cb">
              {% autoescape 'html' %}
              {{ var|escape(strategy)|raw }} {# won't be double-escaped #}
              {% endautoescape %}
            </pre>
            <p>
              that code was used in the
              <a href="https://twig.symfony.com/doc/3.x/filters/escape.html"
                >escape</a
              >
              documentation while explaining that using a variable as the
              escaping startegy inside of
              <span class="cb">autoescape</span> while result in double escaping
              so if you do use the variable you should skip the auotescaping for
              that line to avoid double escaping
            </p>
          </section>

          <section>
            <h4 class="yellow">html to markdown</h4>
            <pre class="cb">
              {% apply html_to_markdown %}
                  <html>
                      <h1>Hello!</h1>
                  </html>
              {% endapply %}
            </pre>
            <pre class="cb">
              {{ include('some_template.html.twig')|html_to_markdown }}
            </pre>
          </section>

          <section>
            <h4 class="yellow">inline css</h4>
            <p>
              read the
              <a
                href="https://twig.symfony.com/doc/3.x/filters/inline_css.html"
              >
                docs
              </a>
            </p>
          </section>

          <section>
            <h4 class="yellow">json encode</h4>
            <p>
              the json_encode filter returns the JSON representation of a value:
            </p>
            <p class="cb">{{ data|json_encode() }}</p>
          </section>

          <section>
            <h4 class="yellow">keys</h4>
            <p>
              The keys filter returns the keys of a sequence or a mapping. It is
              useful when you want to iterate over the keys of a sequence or a
              mapping:
            </p>
            <pre class="cb">
              {% for key in [1, 2, 3, 4]|keys %}
                  {{ key }}
              {% endfor %}
              {# outputs: 1 2 3 4 #}

              {% for key in {a: 'a_value', b: 'b_value'}|keys %}
                  {{ key }}
              {% endfor %}
              {# outputs: a b #}
            </pre>
          </section>

          <section>
            <h4 class="yellow">map</h4>
            <p>
              The map filter applies an arrow function to the elements of a
              sequence or a mapping. The arrow function receives the value of
              the sequence or mapping:
            </p>
            <pre class="cb">
              {% set people = [
                  {first: "Bob", last: "Smith"},
                  {first: "Alice", last: "Dupond"},
              ] %}

              {{ people|map(p => "#{p.first} #{p.last}")|join(', ') }}
              {# outputs Bob Smith, Alice Dupond #}
            </pre>
            <p>
              The arrow function also receives the key as a second argument:
            </p>
            <pre class="cb">
              {% set people = {
                  "Bob": "Smith",
                  "Alice": "Dupond",
              } %}

              {{ people|map((value, key) => "#{key} #{value}")|join(', ') }}
              {# outputs Bob Smith, Alice Dupond #}
            </pre>
          </section>

          <section>
            <h4 class="yellow">nl2br</h4>
            <p>
              The nl2br filter inserts HTML line breaks before all newlines in a
              string:
            </p>
            <pre class="cb">
              {{ "I like Twig.\nYou will like it too."|nl2br }}
              {# outputs

                  I like Twig.<br />
                  You will like it too.

              #}
            </pre>
          </section>

          <section>
            <h4 class="yellow">raw</h4>
            <p>
              The raw filter marks the value as being "safe", which means that
              in an environment with automatic escaping enabled this variable
              will not be escaped if raw is the last filter applied to it:
            </p>
            <pre class="cb">
              {% autoescape %}
                {{ var|raw }} {# var won't be escaped #}
              {% endautoescape %}
            </pre>
          </section>

          <section>
            <h4 class="yellow">reduce</h4>
            <p>
              The reduce filter iteratively reduces a sequence or a mapping to a
              single value using an arrow function, so as to reduce it to a
              single value. The arrow function receives the return value of the
              previous iteration and the current value and key of the sequence
              or mapping:
            </p>
            <pre class="cb">
              {% set numbers = [1, 2, 3] %}
                {{ numbers|reduce((carry, v, k) => carry + v * k) }}
              {# output 8 #}
            </pre>
            <p>
              The reduce filter takes an initial value as a second argument:
            </p>
            <pre class="cb">
              {{ numbers|reduce((carry, v, k) => carry + v * k, 10) }}
              {# output 18 #}
            </pre>
          </section>

          <section>
            <h4 class="yellow">replace</h4>
            <p>
              The replace filter replaces placeholders in a string (the
              placeholder format is free-form):
            </p>
            <pre class="cb">
              {{ "I like %this% and %that%."|replace({'%this%': fruit, '%that%': "oranges"}) }}
              {# if the "fruit" variable is set to "apples", #}
              {# it outputs "I like apples and oranges" #}

              {# using % as a delimiter is purely conventional and optional #}
              {{ "I like this and --that--."|replace({'this': fruit, '--that--': "oranges"}) }}
              {# outputs "I like apples and oranges" #}
            </pre>
          </section>

          <section>
            <h4 class="yellow">slug</h4>
            <p>
              The slug filter transforms a given string into another string that
              only includes safe ASCII characters.
            </p>
            <pre class="cb">
              {{ 'Wôrķšƥáçè ~~sèťtïñğš~~'|slug }}
              Workspace-settings
            </pre>
            <p>
              The default separator between words is a dash (-), but you can
              define a selector of your choice by passing it as an argument:
            </p>
            <pre class="cb">
              {{ 'Wôrķšƥáçè ~~sèťtïñğš~~'|slug('/') }}
              Workspace/settings
            </pre>
            <p>
              The slugger automatically detects the language of the original
              string, but you can also specify it explicitly using the second
              argument:
            </p>
            <pre class="cb">
              {{ '...'|slug('-', 'ko') }}
            </pre>
            <p>
              it requires an extension to work so check the
              <a href="https://twig.symfony.com/doc/3.x/filters/slug.html">
                docs
              </a>
            </p>
          </section>

          <section>
            <h4 class="yellow">striptags</h4>
            <p>
              The striptags filter strips SGML/XML tags and replaces adjacent
              whitespace characters by one space:
            </p>
            <p class="cb">{{ some_html|striptags }}</p>
            <p>You can also provide tags which should not be stripped:</p>
            <p>{ some_html|striptags('&lt;br&gt;&lt;p&gt;') }}</p>
          </section>

          <section>
            <h4 class="yellow">url_encode</h4>
            <p>
              The url_encode filter percent encodes a given string as URL
              segment or a mapping as query string:
            </p>
            <pre class="cb">
              {{ "path-seg*ment"|url_encode }}
              {# outputs "path-seg%2Ament" #}

              {{ "string with spaces"|url_encode }}
              {# outputs "string%20with%20spaces" #}

              {{ {'param': 'value', 'foo': 'bar'}|url_encode }}
              {# outputs "param=value&foo=bar" #}
            </pre>
          </section>

          <section>
            <h4 class="yellow">[function] block</h4>
            <p>
              it can be used to make templates with replacable chunks of
              content, these chunks can be replaced by the child
            </p>
            <p>there're couple forms of syntax</p>
            <p class="cb"><title>{% block title %}{% endblock %}</title></p>
            <p>
              <span class="cb"> block</span> is the keyword while title can be
              any word like docTitle or whatever you want
            </p>
            <p>
              anything between the <span class="cb">{...} {...}</span> can be
              replaced by the child (or used and another content added to it)
              more details in the <a href="">extend</a> explaination
            </p>
            <p>another form may be</p>
            <p class="cb">&lt;h1&gt;{{ block('title') }}&lt;/h1&gt;</p>
            <p>
              Use the defined test to check if a block exists in the context of
              the current template:
            </p>
            <pre class="cb">
              {% if block("footer") is defined %}
                  ...
              {% endif %}

              {% if block("footer", "common_blocks.twig") is defined %}
                  ...
              {% endif %}
            </pre>
          </section>
        </section>
      </div>
    </article>
    <!-- ======== twig ENDS ======== -->

    <script src="script.js" type="module"></script>
  </body>
</html>
