:root {
  --main-color: #c8e3d4;
  --second-color: #ffe699;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.7;
  background: center / cover url(images/pexels-hasan-albari-1229861.jpg) fixed;
  backdrop-filter: blur(15px);
  color: #e4e4e4;
}
body.upwork {
  background-image: url(images/upwrok-notes-bg.jpg);
  backdrop-filter: blur(9px);
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0 0 0 / 60%);
  z-index: -1;
}
article:nth-of-type(odd) {
  background: rgba(238, 238, 238, 0.12);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}
.main-heading {
  text-align: center;
  margin-bottom: 50px;
  color: var(--main-color);
  font-size: 3.5rem;
}
h3 {
  color: var(--second-color);
  font-size: 2rem;
  margin: 2rem 0 1.25rem;
  margin: 2rem 0 5px;
}
p::first-letter,
li::first-letter,
b::first-letter {
  text-transform: uppercase;
}
p {
  margin-bottom: 20px;
}
li > *:first-child {
  display: inline-block;
}
li {
  margin-bottom: 15px;
}
li.big-item:not(:last-of-type),
.big-items > li:not(:last-of-type) {
  margin-bottom: 35px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--second-color, #ffe699);
}

img {
  display: block;
  margin: 50px auto;
  max-width: 100%;
}
b {
  font-size: 1.2em;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.bg-second-color {
  background: var(--second-color);
  color: black;
  padding: 10px;
  border-radius: 5px;
  margin-block: 10px;
}
.second-color {
  color: var(--second-color);
  font-weight: bold;
  /* font-size: 1.7rem; */
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.container {
  overflow: hidden;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* XL */
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.cb {
  background-color: lightgray;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 10px;
  color: #222;
  font-size: 0.8em;
}
p.cb::first-letter {
  text-transform: none;
}
article {
  padding: 100px 0;
}

.container.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 50px;
}
.container.grid h3 {
  text-align: center;
  background: var(--second-color);
  color: #000;
  padding: 10px;
}
.container.grid .box {
  padding: 15px;
  background: rgb(238 238 238 / 12%);
}

article.dev-tools ol {
  margin-left: 40px;
}

section {
  margin-bottom: 100px;
}
article.tbt img {
  display: block;
  background: rgb(238 238 238 / 45%);
  border-radius: 10 px;
  margin: 20px auto;
  border-radius: 5px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0;
}
.img-container img {
  width: 47%;
}
.text-bold {
  font-weight: bold;
}
ul,
ol {
  list-style-position: inside;
  padding-inline: 25px;
}
header {
  transition: 0.3s;
  position: absolute;
  top: 0;
  width: 100%;
}
header .container {
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
header nav {
  display: flex;
  align-items: stretch;
}
header .input-box {
  position: relative;
  display: flex;
  width: 180px;
  border: 1px solid var(--second-color, var(--second-color, yellow));
  border-radius: 10px;
  overflow: hidden;
  outline: none;
  padding-inline-start: 30px;
}
header .input-box svg {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  fill: var(--second-color, yellow);
}
header .input-box input {
  width: 100%;
  border: none;
  outline: none;
  padding-inline-start: 5px;
  color: var(--second-color, yellow);
  background: none;
}
header ul {
  list-style: none;
  display: flex;
}
header ul li {
  margin-bottom: 0;
}
header ul a {
  padding: 5px 2.5rem;
  margin: 0 5px;
  color: #222;
  background: var(--main-color, lightblue);
  text-decoration: none;
  border-radius: 5px;
}
article section div {
  margin-bottom: 60px;
  border-bottom: 1px solid var(--second-color, yellow);
}
article.problem-solving section,
article.problem-solving h3 {
  display: inline;
}
article.problem-solving li::marker {
  font-size: 30px;
  color: var(--second-color, yellow);
}
a {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background: var(--main-color, lightblue);
  border-radius: 7px;
}
h4 {
  color: var(--main-color, lightblue);
}
h5 {
  color: var(--second-color, yellow);
}
.test {
  padding: 20px;
  background: grey;
}
.task {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
