color: #212529 /* main (nav, footer)*/
color: #667add/* buttons */
color: #8c989f/* client logos */
color: #f8f9fa/* client BG */
color: #828286/* paragraph */
font-family: roboto;
link: https://themeforest.net/item/palexi-one-page-html5-template/23227604;
===============================================================================
/* DARK THEME */
color: #333; /* navbar and main */
color: #383838; /* secondary */
color: #d3d4cf; /* light color */
color: #1f7e6b; /* hilights (icons) */
color: #eee; /* main paragraph */
color: #bfbfbf; /*secondary paragraph */
color: #515875; /*counter section*/
color: #576f9e; /*counter section*/
color: #6697b9; /*counter section*/
color: #88c3d8; /*counter section*/
color: #888; /*our clients logos*/
font-family: 'PT Serif',serif; /* testimonials */
font-family: Lato,sans-serif; /* body */
link: http://preview.themeforest.net/item/canvas-the-multipurpose-html5-template/full_screen_preview/9228123?_ga=2.218403929.1372767037.1600218051-1604670355.1600034456;
===============================================================================
color: #000000;
color: #01212b; /*hero pic 1*/
color: #4f5054; /*hero pic 2*/
color: #24c1dd; /*secondary*/
color: #f1c30f; /*secondary*/
color: #84b813; /*secondary*/
color: #fff; /* writing */
font-family: 'Roboto', sans-serif;
icons: https://themify.me/themify-icons; /* themify icons */
JQ-library: http://scriptpie.com/cubeportfolio/live-preview/templates/gallery/; /* some gallery library called cube portfolio*/
JQ-library:http://fancybox.net/;
link: http://themesindustry.com/html/wixer/index-classic-dark-multipage.html;
===============================================================================
color: #045877;
color: #03788d;
color: #032a3b;
color: #61909f;
color: #032231;

docs: 
<a href='https://www.freepik.com/photos/house'>House photo created by vanitjan - www.freepik.com</a>,
<a href='https://www.freepik.com/photos/house'>House photo created by vanitjan - www.freepik.com</a>,























